*{
	margin: 0;
	padding: 0; 
}
li{
	list-style: none;
}
a{
   text-decoration: none;
}
body{
	background: #ededed;
}
/* 顶部开始 */
header{
	width: 100%;
	height: 75px;
	background: #333;
}
.head{
	width: 1220px;
	height: 75px;
	margin: 0 auto;
	position: relative;
}
.headL{
	width: 180px;
	height: 75px;
	display: flex;
	align-items: center;
}
.headL img{
	width: 180px;
	height: 60px;
}
.headR{
	width: 212px;
	height: 75px;
	position: absolute;
	right:0;
	top: 0;
}
.headRzi{
	display: block;
	width: 106px;
	height: 75px;
	font-size: 14px;
	color: #e0e0e0;
	text-align: center;
	line-height: 75px;
	float: left;
}
.headRzi:hover{
	color: #fff;
}
/* 顶部结束 */
/* 导航开始 */
.daohang{
	width: 1220px;
	height: 62px;
	margin: 0 auto;
}
.daohangZi{
	width:528px;
	height: 62px;
	display: flex;
	justify-content: space-between;
	position: relative;
}
.yc{
	background-image: linear-gradient(#ffffff, #f1f1f1);
	display: none;
	position: fixed;
	top: 0;
	left:0;
	z-index: 999;
	width: 100%;
	padding-right: 15px;
    padding-left: 65px;
    margin-right: auto;
    margin-left: auto;
}
.dhz{
	display: block;
	height: 62px;
	padding: 20px;
	font-size: 14px;
}
.dhz a{
	color: #666;
}
.dhz a:hover{
	color: #5079d9;
}
.dhz:first-child{
	padding-left:0;
}
.rxgsBox{
	width: 160px;
	height: 80px;
	background: #fff;
	border: 1px solid #e0e0e0;
	border-radius: 8px;
	padding: 5px 0px;
	position:absolute;
	left: 58px;
	top: 55px;
	z-index: 15;
	display: none;
	box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);  
}
.rxxlBox{
	width: 160px;
	height: 160px;
	background: #fff;
	border: 1px solid #e0e0e0;
	border-radius: 8px;
	padding: 5px 0px;
	position:absolute;
	left: 160px;
	top: 55px;
	z-index: 15;
	display: none;
	box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15); 
}
.jfhlBox{
	width: 160px;
	height: 160px;
	background: #fff;
	border: 1px solid #e0e0e0;
	border-radius: 8px;
	padding: 5px 0px;
	position:absolute;
	left: 252px;
	top: 55px;
	z-index: 15;
	display: none;
	box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15); 
}
.rxgsZ{
	display: block;
	width: 120px;
	height: 40px;
	background: #fff;
	padding: 0 20px;
	font-size: 14px;
	color:#666 ;
	line-height:40px; 
}
.rxgsZ:hover{
    background: #e0e0e0;
    color: blue;
}
/* 导航结束 */
/* banner开始 */
.banner{
	width: 1220px;
	height: 500px;
	margin: 0 auto 60px;
	position: relative;
}
.lbt{
    width: 1220px;
	height: 500px;
	border-radius: 8px;
	position: absolute;
	left: 0;
	top: 0; 
}
.lbd{
	width: 100px;
	height: 10px;
	position: absolute;
	left: 560px;
	bottom: 30px;
	display: flex;
	justify-content: space-between;
	z-index: 15;
}
.lbd li{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #76838f;
}
.lbd .hot{
	background: #fff;
}
/* banner结束 */
/* 内容开始 */
.nr{
    height: 120px;
    text-align: center;
}
.bt{
    color: #F67A82;
    font-size: 35px;
    font-weight: 400;
    padding: 10px 30px;
    margin: 0px;
    text-shadow: none;
}
.news{
    padding: 30px 0px;
}
.container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.newslist{
    margin-top: 0;
    margin-bottom: 10px;
    margin-right: 35px;
    margin-left: 35px;
}
.newslist li{
    background: white;
    padding:20px; 
    box-sizing: border-box;
}
.newslistL{
    padding-right: 50px;
    float: left;
}
.newslistR{
    display: table-cell;
    vertical-align: top;
    padding-bottom: 10px;
    border-bottom:1px solid #ccc;
    box-sizing: border-box;
}
.newslistR h4 a{
    display: block;
    color: #2a333c;
     padding-bottom: 10px;
}
.newslistR h4 a:hover{
    color: #62a8ea;
    text-decoration: none;
}
.p1{
    color: #76838f;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 10px;
}
.p2{
    color: #a3afb7;
    font-size: 16px;
    font-weight: 300;
}
/* 内容结束 */
.product{
	margin-top: 30px;
	text-align: center;
    padding: 30px 0;
    background: #ededed;
    position: relative;
    box-sizing: border-box;
	height: auto;
}
.cotainer{
	position: relative;
    padding-bottom: 0px;
    border: 1px solid rgba(0, 0, 0, 0.14);
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 3px 8px -6px rgba(0, 0, 0, 0.1);
    padding: 15px;
    width: 1220px;
    height: 949px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;

}
.gothis{
	display: inline-block;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    padding: 0 15px 0 19px;
    line-height: 34px;
    color: #666;
    background-color: #fafafa;
    background-image: linear-gradient(180deg, #ffffff, #fafafa);
    position: absolute;
    right: 14px;
    bottom: 0;
    transition: all 0.15s;
}
.gothis:hover{
	background: #ededed;
}
.productbox{
	overflow: hidden;
	width: 100%;
	position: absolute;
	left: 0;
	top: 89px;
}
.productboxL{
	padding: 0;
    height: 429px;
    border-right: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    width: 50%;
    float: left;
    box-sizing: border-box;
}
.productboxL a{
	width: 100%;
    display: block;
    height: 100%;

}
.productboxL a img{
	width: 100%;
    height: 100%;
    vertical-align: middle;
}
footer{
    margin-top: 30px;
    background: #fafafa;
    border-top: 1px solid #e6e6e6;
    padding: 100px 0 32px;
    text-align: center;
    box-sizing: border-box;
    color: #666666;
    overflow: hidden;
}
.row{
    margin-right: -15px;
    margin-left: -15px;
}
.footnav{
    width: 66.66666667%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;

}
.list{
    margin-bottom: 20px;
    width: 16.66666667%;
    float: left;
}
.list h4{
    font-size: 14px;
    color: #646464;
    margin: 0px;
    text-shadow: none;
    padding: 0 0 14px;
}
.list h4 a{
    color: #646464;
    font-weight: 400;
    line-height: 1.2;
}
.footnavli{
    padding: 0px;
    margin-bottom: 0px;
    list-style: none;
    margin: 0;
}
.footnavli li{
    text-align: center;
    padding: 0;
    margin-bottom: 3px;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    box-sizing: border-box;
}
.footnavli li a{
    font-size: 12px;
    color: #969696;
    padding: 6px 0;
    transition: color 0.2s;
}
.footnavli li a:hover{
    color: #5079d9;
}
.rowR{
    float: right;
    width: 33.33333333%;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
}
.rowR h3{
    text-align: right;
    font-size: 30px;
    color: #646464;
    text-shadow: rgba(0,0,0,.15) 0 0 1px;
    margin-top: 22px;
    margin-bottom: 11px;
    font-weight: 400;
    line-height: 1.2
}
.clearfix p{
    color: #c3c3c3;
    text-align: right;
    font-size: 13px;
    margin: 0 0 11px;
    box-sizing: border-box;
}
.message{
    float: right;
    width: 102px;
    height: 32px;
    line-height: 32px;
    background: linear-gradient(#fcfcfc, #f5f5f5);
    font-size: 14px;
    text-align: center;
    color: #5079d9;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    box-sizing: content-box;
    margin: 8px 8px 0;
}
.message:hover{
    background: #ededed;
}
.bottom{
    height: auto;
    padding-bottom: 20px;
    color: #aaaaaa;
    line-height: 1.8;
    background: #f5f5f5;
    z-index: 2;
    position: relative;
    box-sizing: border-box;
}
.bottomnr{
    border-top: 1px solid #e6e6e6;
    padding-top: 20px;
    position: relative;
    width: 1220px;
    box-sizing: border-box;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.bottomnr p{
    margin-bottom: 0px;
    font-size: 12px;
    color: #757575;
    font-weight: 400;
    margin: 0 0 11px;
    box-sizing: border-box;
}
.language{
    position: absolute;
    right: 0;
    top: 20px;
    height: 34px;
    box-sizing: border-box;
    color: #aaaaaa;
    line-height: 1.8;
}
.language button{
    background: none;
    color: #45474b;
    font-size: 13px;
    font-weight: normal;
    border-radius: 6px;
    padding: 6px 15px;
    
    cursor: pointer;
    border: 1px solid transparent;
}
.langlist{
    background: #fff;
    border: 0 solid rgba(255, 255, 255, 0.01);
    border-radius: 4px;
    margin-bottom: 6px;
    height: 100px;
    font-weight: normal;
    position: relative;
    left: 0;
    top: -160px;
    text-align: center;
    display: none;
}
.langlist li{
    background: #fff;
    padding: 5px 0px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15); 
}
.langlist li:hover{
    background: #e0e0e0;
}
.langlist li a{
    display: block;
    width: 100%;
    height: 100%;
    color: #666666;
    font-size: 13px;
}
.backtop{
    position: fixed;
    right: 7px;
    bottom: 20px;
    width: 54px;
    height: 54px;
    z-index: 999;
    transition: all 0.25s;
    background: url('../img/backTop.png') no-repeat;
    cursor: pointer;
    display: none;
}
.xs{
    display: block;
}
#QQ:hover{
    color: #5079d9;
}
#sina:hover a{
    color: #eb7350;
}
#sina:hover .icon-sina{
    color: #eb7350;
}
#wechat:hover{
    color: green;
}
#wechat:hover a{
    color: green;
}
#wechat:hover .hide{
    display: block;
}
.hide{
    position: absolute;
    top: -165px;
    display: none;
}
.icon-shangsanjiao{
    float: right;
    transition:all 0.5s;
    line-height: 1.2;
}
.rotate{
    transform: rotate(-180deg);
}