*{
	margin: 0;
	padding: 0; 
}
li{
	list-style: none;
}
a{
   text-decoration: none;
}
body{
	background: #ededed;
}
/* 顶部开始 */
header{
	width: 100%;
	height: 75px;
	background: #333;
}
.head{
	width: 1220px;
	height: 75px;
	margin: 0 auto;
	position: relative;
}
.headL{
	width: 180px;
	height: 75px;
	display: flex;
	align-items: center;
}
.headL img{
	width: 180px;
	height: 60px;
}
.headR{
	width: 212px;
	height: 75px;
	position: absolute;
	right:0;
	top: 0;
}
.headRzi{
	display: block;
	width: 106px;
	height: 75px;
	font-size: 14px;
	color: #e0e0e0;
	text-align: center;
	line-height: 75px;
	float: left;
}
.headRzi:hover{
	color: #fff;
}
/* 顶部结束 */
/* 导航开始 */
.daohang{
	width: 1220px;
	height: 62px;
	margin: 0 auto;
}
.daohangZi{
	width:528px;
	height: 62px;
	display: flex;
	justify-content: space-between;
	position: relative;
}
.yc{
	background-image: linear-gradient(#ffffff, #f1f1f1);
	display: none;
	position: fixed;
	top: 0;
	left:0;
	z-index: 999;
	width: 100%;
	padding-right: 15px;
    padding-left: 65px;
    margin-right: auto;
    margin-left: auto;
}
.dhz{
	display: block;
	height: 62px;
	padding: 20px;
	font-size: 14px;
}
.dhz a{
	color: #666;
}
.dhz a:hover{
	color: #5079d9;
}
.dhz:first-child{
	padding-left:0;
}
.rxgsBox{
	width: 160px;
	height: 80px;
	background: #fff;
	border: 1px solid #e0e0e0;
	border-radius: 8px;
	padding: 5px 0px;
	position:absolute;
	left: 58px;
	top: 55px;
	z-index: 15;
	display: none;
	box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);  
}
.rxxlBox{
	width: 160px;
	height: 160px;
	background: #fff;
	border: 1px solid #e0e0e0;
	border-radius: 8px;
	padding: 5px 0px;
	position:absolute;
	left: 160px;
	top: 55px;
	z-index: 15;
	display: none;
	box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15); 
}
.jfhlBox{
	width: 160px;
	height: 160px;
	background: #fff;
	border: 1px solid #e0e0e0;
	border-radius: 8px;
	padding: 5px 0px;
	position:absolute;
	left: 252px;
	top: 55px;
	z-index: 15;
	display: none;
	box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15); 
}
.rxgsZ{
	display: block;
	width: 120px;
	height: 40px;
	background: #fff;
	padding: 0 20px;
	font-size: 14px;
	color:#666 ;
	line-height:40px; 
}
.rxgsZ:hover{
    background: #e0e0e0;
    color: blue;
}
/* 导航结束 */
/* 热门开始 */
.remen{
	width: 1220px;
	border: 1px solid rgba(0, 0, 0, 0.14);
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 3px 8px -6px rgba(0, 0, 0, 0.1);
    padding: 15px;
    position: relative;
    padding-bottom: 0px;
    box-sizing: border-box;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}
.areatitle h3{
	font-size: 22px;
    margin-top: 0px;
    text-align: left;
    margin-bottom: 0px;
    color: #666;
    font-weight: 300;
    margin-left: 30px;
}
.areatitle p{
	font-size: 13px;
    text-align: left;
    color: #848484;
    margin: 0px auto;
    margin-left: 30px;
    margin-bottom: 10px;
    font-weight: 300;
}
.left{
	display: inline-block;
    cursor: pointer;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    padding: 0 12px;
    line-height: 34px;
    color: #666;
    background-image: linear-gradient(180deg, #ffffff, #fafafa);
    position: absolute;
    bottom: 18px;
    right: 60px;
    box-sizing: border-box;
}
.right{
	position: absolute;
	right: 14px;
    bottom: 18px;
    background-image: linear-gradient(180deg, #ffffff, #fafafa);
    display: inline-block;
    cursor: pointer;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    padding: 0 12px;
    line-height: 34px;
    color: #666;
    box-sizing: border-box;
}
.arealist{
	overflow: hidden;
    box-sizing: border-box;
    text-align: center;
}
.areabox{
	width: 304px;
	height: 429px;
	float: left;
	border: 1px solid #efefef;
    border-top: none;
    border-bottom: none;
    overflow: hidden;
    box-sizing: border-box;
    transition: all 0.15s;
    position: relative;
}
.areaboxtop{
	width: 304px;
	float: left;
	transition: all 0.2s;
	position: absolute;
	margin-bottom: 30px;
}
.areaboxtop a{
	text-align: center;
	background-color: transparent;
}
.areaboxtop a img{
	transition: all 0.6s;
	width: 206px;
    height: 206px;
    margin: 50px auto;
    vertical-align: middle;
}
.areaboxtop :nth-child(2) img{
    display: none;
}
.areabox:hover{
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15) inset;
}
.areaboxtop:hover a img{
	transform: scale(1.1, 1.1);
}
.slick{
	width: 100%;
	position: absolute;
	bottom: 0;
	overflow: hidden;
}
.slick li{
	position: relative;
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    padding: 2px;
    margin: 0 5px;
    cursor: pointer;
    box-sizing: border-box;
}
.slick .active1{
	background: #fff;
	box-shadow: inset 0 0 0 2px #b2b2b2;
	border: none;
	transition: all 0.15s;
	z-index: 2;
}
.slick .active2{
    background: #fff;
    box-shadow: inset 0 0 0 2px #e5e5e5;
    border: none;
    transition: all 0.15s;
    z-index: 2;
}
.bottitle{
	padding: 20px;
    padding-top: 0;
    margin: 0;
    font-size: 14px;
    text-align: center;
    color: #37474f;
    text-shadow: rgba(0,0,0,.15) 0 0 1px;
    font-weight: 400;
    line-height: 1.2;
}
.bottitle a{
	margin-top: 336px;
	overflow: hidden;
    font-size: 16px;
    line-height: 1.2;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #424242;
    font-weight: 300;
    display: block;
    width: 100%;
}
.bottitle p{
	overflow: hidden;
    padding-top: 7px;
    font-size: 12px;
    line-height: 1.2;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #b2b2b2;
    margin: 0 0 11px;
}
.bottitle span{
	border: 1px solid #e1e1e1;
    border-radius: 4px;
    font-size: 12px;
    color: #646464;
    background-color: #f9f9f9;
    background-image: linear-gradient(180deg, #ffffff, #f9f9f9);
    cursor: pointer;
	box-sizing: border-box;
    width: 100px;
    height: 30px;
    line-height: 28px;
    vertical-align: middle;
    display: none;
    margin: 0 auto;
    overflow: hidden;
}
.bottitle span a{
	overflow: hidden;
	white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    width: 100%;
    color: #646464;
    font-size: 12px;
    height: 100%;
    line-height: 30px;
    text-align: center;
    margin: 0;
}
.bottitle span a:hover{
	background: #ededed;
}
.areabox:hover .bottitle span{
	display: block;
}
/* 热门结束 */
/* 标题开始 */
.biaoti{
   width: 1220px;
   height: 58px; 
   margin: 0 auto;
   overflow: hidden;
}
.bt{
    display: flex;
    width: 75%;
    border-top: 1px solid #d8d8d8;
    margin-left: -20px;
    float: left;

}
.bt>li>a{
    text-decoration: none;
    padding: 20px;
    display: block;
    font-size: 12px;
    color: #999;
    font-weight: normal;
    position: relative;
}
.bt>li:hover a{
    color:#5079d9;
}
.button{
    width: 25%;
    float: right;
    border: #ccc solid 1px;
    box-shadow: 0 3px 5px -4px rgba(0, 0, 0, 0.4) inset, -1px 0 3px -2px rgba(0, 0, 0, 0.1) inset;
    border-radius: 8px;
    margin-top: 15px;
}
.form-control{
    box-sizing: border-box;
    border-radius: 8px;
    outline: none;
    display: block;
    width: 100%;
    height: 36px;
    padding: 6px 15px;
    font-size: 14px;
    line-height: 1.57142857;
    color: #76838f;
    background-color: #fff;
    background-image: none;
    border: none;
}
/* 标题结束 */
.product{
	/* margin-top: 30px; */
	text-align: center;
   /*  padding: 30px 0; */
    background: #ededed;
    position: relative;
    box-sizing: border-box;
	height: auto;
}
.cotainer{
	position: relative;
    padding-bottom: 0px;
    border: 1px solid rgba(0, 0, 0, 0.14);
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 3px 8px -6px rgba(0, 0, 0, 0.1);
    padding: 15px;
    width: 1220px;
    height: 949px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;

}
.gothis{
	display: inline-block;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    padding: 0 15px 0 19px;
    line-height: 34px;
    color: #666;
    background-color: #fafafa;
    background-image: linear-gradient(180deg, #ffffff, #fafafa);
    position: absolute;
    right: 14px;
    bottom: 0;
    transition: all 0.15s;
}
.gothis:hover{
	background: #ededed;
}
.productbox{
	overflow: hidden;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
/* 123开始 */
.met_pager {
    margin-top: 20px;
    text-align: center;
}
.met_pager .PreSpan, .met_pager .NextSpan {
    padding: 9px 15px;
    border: 1px solid #e4eaec;
    background: #fff;
    color: #ccd5db;
    cursor: default;
    display: none;
}
.met_pager a.Ahover {
    background: linear-gradient(#6383c6, #4262af);
    border-color: #6383c6;
    color: #fff;
    cursor: default;
}
.met_pager a {
    padding: 9px 15px;
    border: 1px solid #dcdcdc;
    background: linear-gradient(#fcfcfc, #f5f5f5);
    text-align: center;
    color: #76838f;
    border-radius: 5px;
    margin-right: 20px;
}
/* 123结束 */
footer{
    margin-top: 30px;
    background: #fafafa;
    border-top: 1px solid #e6e6e6;
    padding: 100px 0 32px;
    text-align: center;
    box-sizing: border-box;
    color: #666666;
    overflow: hidden;
}
.row{
    margin-right: -15px;
    margin-left: -15px;
}
.footnav{
    width: 66.66666667%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;

}
.list{
    margin-bottom: 20px;
    width: 16.66666667%;
    float: left;
}
.list h4{
    font-size: 14px;
    color: #646464;
    margin: 0px;
    text-shadow: none;
    padding: 0 0 14px;
}
.list h4 a{
    color: #646464;
    font-weight: 400;
    line-height: 1.2;
}
.footnavli{
    padding: 0px;
    margin-bottom: 0px;
    list-style: none;
    margin: 0;
}
.footnavli li{
    text-align: center;
    padding: 0;
    margin-bottom: 3px;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    box-sizing: border-box;
}
.footnavli li a{
    font-size: 12px;
    color: #969696;
    padding: 6px 0;
    transition: color 0.2s;
}
.footnavli li a:hover{
    color: #5079d9;
}
.rowR{
    float: right;
    width: 33.33333333%;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
}
.rowR h3{
    text-align: right;
    font-size: 30px;
    color: #646464;
    text-shadow: rgba(0,0,0,.15) 0 0 1px;
    margin-top: 22px;
    margin-bottom: 11px;
    font-weight: 400;
    line-height: 1.2
}
.clearfix p{
    color: #c3c3c3;
    text-align: right;
    font-size: 13px;
    margin: 0 0 11px;
    box-sizing: border-box;
}
.message{
    float: right;
    width: 102px;
    height: 32px;
    line-height: 32px;
    background: linear-gradient(#fcfcfc, #f5f5f5);
    font-size: 14px;
    text-align: center;
    color: #5079d9;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    box-sizing: content-box;
    margin: 8px 8px 0;
}
.message:hover{
    background: #ededed;
}
.bottom{
    height: auto;
    padding-bottom: 20px;
    color: #aaaaaa;
    line-height: 1.8;
    background: #f5f5f5;
    z-index: 2;
    position: relative;
    box-sizing: border-box;
}
.bottomnr{
    border-top: 1px solid #e6e6e6;
    padding-top: 20px;
    position: relative;
    width: 1220px;
    box-sizing: border-box;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.bottomnr p{
    margin-bottom: 0px;
    font-size: 12px;
    color: #757575;
    font-weight: 400;
    margin: 0 0 11px;
    box-sizing: border-box;
}
.language{
    position: absolute;
    right: 0;
    top: 20px;
    height: 34px;
    box-sizing: border-box;
    color: #aaaaaa;
    line-height: 1.8;
}
.language button{
    background: none;
    color: #45474b;
    font-size: 13px;
    font-weight: normal;
    border-radius: 6px;
    padding: 6px 15px;
    
    cursor: pointer;
    border: 1px solid transparent;
}
.langlist{
    background: #fff;
    border: 0 solid rgba(255, 255, 255, 0.01);
    border-radius: 4px;
    margin-bottom: 6px;
    height: 100px;
    font-weight: normal;
    position: relative;
    left: 0;
    top: -160px;
    text-align: center;
    display: none;
}
.langlist li{
    background: #fff;
    padding: 5px 0px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15); 
}
.langlist li:hover{
    background: #e0e0e0;
}
.langlist li a{
    display: block;
    width: 100%;
    height: 100%;
    color: #666666;
    font-size: 13px;
}
.backtop{
    position: fixed;
    right: 7px;
    bottom: 20px;
    width: 54px;
    height: 54px;
    z-index: 999;
    transition: all 0.25s;
    background: url('../img/backTop.png') no-repeat;
    cursor: pointer;
    display: none;
}
.xs{
    display: block;
}
#QQ:hover{
    color: #5079d9;
}
#sina:hover a{
    color: #eb7350;
}
#sina:hover .icon-sina{
    color: #eb7350;
}
#wechat:hover{
    color: green;
}
#wechat:hover a{
    color: green;
}
#wechat:hover .hide{
    display: block;
}
.hide{
    position: absolute;
    top: -165px;
    display: none;
}
.icon-shangsanjiao{
    float: right;
    transition:all 0.5s;
    line-height: 1.2;
}
.rotate{
    transform: rotate(-180deg);
}